<div class="search-page animate__animated animate__fadeIn">
    <div class="close-page" data-close-page="search-page"><i class="fas fa-times"></i></div>
    <div class="card">
        <form action="" class="form">
            <div class="form-group">
                <input type="text" name="search" id="search-input" placeholder="Search a title..."
                       autocomplete="off" autofocus>
            </div>
        </form>
        <ul class="found-list">
        </ul>
    </div>
</div>