{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'v2/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Streaming and Downloading Movies Service" />
    <link rel="apple-touch-icon" href="{% static 'v2/logo192.png' %}" />
    <link rel="manifest" href="{% static 'v2/manifest.json' %}" />
    <link rel="stylesheet" href="{% static 'v2/components/fonts/IRANSans/fontiran.css' %}" />
    <link rel="stylesheet" href="{% static 'v2/components/fonts/Poppins/poppins.css' %}" />
    <link rel="stylesheet" href="{% static 'v2/components/fontawesome/css/all.css' %} " />
    <title>Cinemax</title>
    <script defer="defer" src="{% static 'v2/static/js/main.39b9e951.js' %}"></script>
    <link href="{% static 'v2/static/css/main.3e5f2e0d.css' %}" rel="stylesheet" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% comment %} <i class="far fa-bars"></i> {% endcomment %}
    <div id="root" class="root"></div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {% comment %} <script src="{% static 'v2/components/fontawesome/js/all.js' %}" ></script> {% endcomment %}
  </body>
</html>
