.btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.875rem;
  border: 2px solid transparent;
}
.btn.btn-lg {
  padding: 10px 30px;
}
.btn.round {
  border-radius: 40px;
}
.btn.btn-red {
  background-color: rgb(160, 18, 18);
  border-color: rgb(160, 18, 18);
}
.btn.btn-primary {
  background-color: #049fb4;
  border-color: #049fb4;
}
.btn.btn-yellow {
  background-color: #dd8c00;
  border-color: #dd8c00;
}
.btn.btn-dark {
  background-color: #262837;
  border-color: #262837;
}
.btn.btn-outline.btn-red:hover {
  background-color: transparent;
  border-color: rgb(160, 18, 18);
  color: rgb(160, 18, 18);
}
.btn.btn-outline.btn-primary:hover {
  background-color: transparent;
  border-color: #049fb4;
  color: #049fb4;
}
.btn.btn-outline.btn-yellow:hover {
  background-color: transparent;
  border-color: #dd8c00;
  color: #dd8c00;
}
.btn.btn-outline.btn-dark:hover {
  background-color: transparent;
  border-color: #262837;
  color: #262837;
}

.card {
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(31, 29, 44, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -1px 1px 15px #707070;
}
.card.movie-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 30px;
}
.card.movie-card .header {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
  margin-bottom: 30px;
}
.card.movie-card .header i {
  color: #eb8307;
  font-size: 35px;
}
.card.movie-card .header h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card.movie-card .header h3 span {
  font-size: 14px;
  color: #ccc;
}
.card.movie-card .carousel-container {
  min-height: 450px;
  justify-content: unset;
}
.card.movie-card .carousel-container .indicator {
  margin-top: 176px;
}
.card.movie-card .list {
  height: 100%;
}
.card.movie-card .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card.movie-card .item a .image {
  height: 350px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card.movie-card .item a .name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.card.movie-card .item a .rating {
  direction: ltr;
  text-align: center;
}
.card.movie-card .item a .rating span {
  font-size: 20px;
  color: #eb8307;
}

.form .form-group {
  display: flex;
  align-items: center;
}
.form .form-group input[type=text] {
  padding: 8px 10px;
  border-radius: 40px;
  background-color: #222;
  border: 1px solid #383838;
  direction: ltr;
  color: #fff;
  font-size: 0.625rem;
}
.form .form-group input[type=text]:focus {
  border-color: #049fb4;
}
.form .form-group input[type=text]::-moz-placeholder {
  text-align: center;
  color: #aea49f;
}
.form .form-group input[type=text]::placeholder {
  text-align: center;
  color: #aea49f;
}
.form .form-group input[type=checkbox] {
  display: none;
}
.form .form-group select {
  padding: 8px 20px;
  border-radius: 40px;
  background-color: #222;
  border: 1px solid #383838;
  direction: ltr;
  color: #aea49f;
  text-align: center;
}
.form .form-group label {
  margin-left: 15px;
  font-size: 0.875rem;
}
.form .form-group .label {
  margin-right: 15px;
  font-size: 0.875rem;
}
.form .form-group .checkLabel {
  width: 20px;
  height: 20px;
  border: 2px solid #383838;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.form .form-group .checkLabel.active {
  background-color: #dd8c00;
  border-color: #dd8c00;
  position: relative;
  transition: all 0.2s ease;
}
.form .form-group .checkLabel.active::after {
  transition: all 0.2s ease;
  position: absolute;
  content: "\f00c";
  font-family: "Font Awesome 6 Pro", sans-serif;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form .form-group.double-slide {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: flex-start;
}
.form .form-group.double-slide .top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.form .form-group.double-slide .top p {
  color: #dd8c00;
}
.form .form-group.double-slide .top p span {
  color: #dd8c00;
}
.form .form-group.double-slide .bottom {
  width: 100%;
}
.form .form-group.double-slide .bottom .multi-range {
  position: relative;
  height: 50px;
  width: 100%;
  display: block;
  right: 0;
  bottom: 0;
}
.form .form-group.double-slide .bottom .multi-range::after {
  position: absolute;
  content: "";
  height: 4px;
  border-radius: 50px;
  width: 100%;
  background-color: #000;
  right: 0;
  top: 50%;
  z-index: 12;
  transform: translateY(-50%);
}
.form .form-group.double-slide .bottom .multi-range input[type=range] {
  position: absolute;
  width: 100%;
  height: 100%;
  --webkit-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  z-index: 123;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]::before {
  content: "";
  position: absolute;
  z-index: 123;
  background-color: #dd8c00;
  height: 4px;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form .form-group.double-slide .bottom .multi-range input[type=range]:first-child {
  left: 0;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]:first-child::before {
  left: 0;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]:last-child {
  right: 0;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]:last-child::before {
  right: 0;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent;
  -webkit-user-select: none;
          user-select: none;
  height: 10px;
  z-index: -1;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]::-moz-range-track {
  background-color: transparent;
  -moz-user-select: none;
       user-select: none;
  height: 10px;
  z-index: -1;
}
.form .form-group.double-slide .bottom .multi-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -5px;
  /* Centers thumb on the track */
  background-color: #dd8c00;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: all;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #333;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "IRANSans", sans-serif;
  color: #fff;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to right top, #1f1d2c, #262837);
  position: relative;
  direction: rtl;
}
body .bg-circle-1 {
  content: "";
  position: fixed;
  top: -20px;
  width: 50vw;
  height: 50vw;
  left: 0;
  border-radius: 50%;
  background-color: rgba(31, 77, 0, 0.4);
  z-index: -1;
}
body .bg-circle-2 {
  content: "";
  position: fixed;
  top: 70px;
  right: -40px;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: rgba(77, 3, 0, 0.4);
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  -webkit-backdrop-filter: blur(170px);
          backdrop-filter: blur(170px);
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

.en {
  font-family: "Poppins", sans-serif;
  direction: ltr;
}

.disabled {
  cursor: not-allowed;
}

.red {
  color: rgb(160, 18, 18) !important;
}

.mt-30 {
  margin-top: 30px;
}

.close-page {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.close-page i {
  font-size: 1.5625rem;
  color: #fff;
}
.close-page i:hover {
  color: #049fb4;
}

@media screen and (max-width: 2000px) {
  body .bg-circle-1,
  body .bg-circle-2 {
    display: none;
  }
}
.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
nav {
  padding: 30px 5% 20px;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .left {
  display: flex;
  align-items: center;
}
nav .left > div {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .left > div.active {
  background-color: #000;
}
nav .left > div.search {
  transition: all 0.3s ease;
}
nav .left > div img {
  height: 25px;
}
nav .left > div:last-child {
  margin-right: 25px;
}
nav .left .search-form {
  width: 300px;
  height: 35px;
  transition: all 0.3s ease;
  padding: 0;
  position: relative;
}
nav .left .search-form.active input {
  opacity: 1;
}
nav .left .search-form input {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid transparent;
  font-size: 0.875rem;
  opacity: 0;
  background-color: #fff;
  color: #000;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
nav .left .search-form .result {
  position: absolute;
  transition: all 0.3s ease;
  width: 400px;
  z-index: 12370;
  height: 178px;
  left: -35px;
  background: #000;
  top: 120%;
  opacity: 0;
  border-radius: 10px;
}
nav .left .search-form .result.active {
  opacity: 1;
}
nav .left .search-form .result .list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  padding: 7px;
}
nav .left .search-form .result .list li {
  width: 100%;
  background-color: #2d2d2d;
  margin-bottom: 30px;
  border-radius: 10px;
}
nav .left .search-form .result .list li a {
  display: flex;
  width: 100%;
  height: 170px;
  align-items: flex-start;
  padding: 5px;
}
nav .left .search-form .result .list li a:hover {
  background-color: #444;
}
nav .left .search-form .result .list li a .image {
  width: 120px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav .left .search-form .result .list li a .detail {
  height: 100%;
  margin-right: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
nav .left .search-form .result .list li a .detail .title {
  direction: ltr;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .left .search-form .result .list li a .detail .type {
  color: #ccc;
  font-size: 0.875rem;
}
nav .right .links {
  display: flex;
  align-items: center;
}
nav .right .links li {
  margin-left: 20px;
}
nav .right .links li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
nav .right .links li a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.2s ease;
}
nav .right .links li a:hover::after {
  width: 100%;
  transition: all 0.2s ease;
}
nav .right .links li:last-child {
  margin-left: 0;
}

@media screen and (max-width: 756px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .right {
    display: none;
  }
}
@media screen and (max-width: 656px) {
  nav {
    padding: 5% 20px;
  }
}
.qrcode-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1f1d2c;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.qrcode-page.active {
  display: flex;
}
.qrcode-page .card {
  width: 50vh;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qrcode-page .card svg {
  fill: #35ce89;
  height: 70mm !important;
}
.qrcode-page .card svg path {
  fill: #35ce89;
}
.qrcode-page .circle-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #35ce89;
  left: calc(50vw - 50px);
  bottom: calc(50vh - 220px);
  z-index: -1;
}
.qrcode-page .circle-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(170, 0, 170);
  right: calc(50vw - 50px);
  top: calc(40vh - 150px);
  z-index: -1;
}

.search-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1d2c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.search-page.active {
  display: flex;
}
.search-page .card {
  width: 50%;
  height: 60%;
}
.search-page .card .form .form-group {
  position: relative;
}
.search-page .card .form .form-group::after {
  content: "\f002";
  font-family: "Font Awesome 6 Pro";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translatey(-50%);
  color: #049fb4;
  font-size: 1.25rem;
  z-index: 12;
}
.search-page .card .form .form-group input {
  width: 100%;
  text-align: left;
  background-color: #262837;
  color: #fff;
  padding-left: 52px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-family: "Poppins";
}
.search-page .card .form .form-group input:focus {
  border-color: #049fb4;
}
.search-page .card .form .form-group input::-moz-placeholder {
  text-align: left;
}
.search-page .card .form .form-group input::placeholder {
  text-align: left;
}
.search-page .card .found-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
  margin-top: 30px;
  height: 80%;
  width: 100%;
  padding-right: 20px;
  direction: ltr;
}
.search-page .card .found-list li {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  padding: 10px 10px;
  background-color: #262837;
}
.search-page .card .found-list li.loading {
  justify-content: center;
  align-items: center;
}
.search-page .card .found-list li.result {
  justify-content: center;
  align-items: center;
}
.search-page .card .found-list li.result span {
  font-size: 1rem;
}
.search-page .card .found-list li .left {
  display: flex;
  align-items: flex-start;
}
.search-page .card .found-list li .left .image {
  margin-right: 10px;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/item-img.jpg");
}
.search-page .card .found-list li .left .details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-page .card .found-list li .left .details .title {
  margin-bottom: 10px;
  font-size: 0.8125rem;
  font-weight: 500;
}
.search-page .card .found-list li .left .details .title:hover {
  color: #049fb4;
}
.search-page .card .found-list li .left .details .genre {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.search-page .card .found-list li .left .details .genre .genre-item {
  margin-left: 20px;
  display: block;
  border: 2px solid #aea49f;
  color: #aea49f;
  font-size: 0.625rem;
  border-radius: 4px;
  padding: 5px;
}
.search-page .card .found-list li .left .details .genre .genre-item:hover {
  border-color: #049fb4;
  color: #049fb4;
}
.search-page .card .found-list li .left .details .genre .genre-item:first-child {
  margin-left: 0;
}
.search-page .card .found-list li .right .rating {
  display: flex;
  align-items: center;
}
.search-page .card .found-list li .right .rating i {
  margin-right: 5px;
  color: #dd8c00;
}
.search-page .card .found-list li .right .rating p {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  color: #aea49f;
}
.search-page .card .found-list li .right .rating p span {
  margin-right: 5px;
  font-size: 0.9375rem;
  color: #dd8c00;
}

.pagination .links {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.pagination li {
  margin-right: 15px;
}
.pagination li:last-child {
  margin-right: 0;
}
.pagination li.dot {
  width: 25px;
  height: 25px;
  position: relative;
}
.pagination li.dot::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 50%;
  top: 50%;
  background-color: #aea49f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.pagination li.active a {
  background-color: #dd8c00;
}
.pagination li a {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #049fb4;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.pagination li a:hover {
  background-color: #dd8c00;
}
.pagination li a span {
  text-align: center;
  transform: rotate(-45deg);
}

@media screen and (max-width: 550px) {
  .pagination {
    width: 185px;
  }
  .pagination .links {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .pagination .links li.dot {
    display: none;
    margin-bottom: 20px;
  }
  .pagination .links li {
    margin-bottom: 20px;
  }
  .pagination .links li:nth-child(5) {
    margin-right: 0;
  }
}
.main {
  padding: 50px 3%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main .details {
  flex: 1;
  width: calc(100% - 20px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main .details .image {
  width: 100%;
  border-radius: 15px;
  background-color: #262837;
  height: 220px;
  margin-bottom: 15px;
  background-image: url("../../../images/avatar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .details .name {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.main .details .extras {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main .details .extras li {
  margin-bottom: 10px;
}
.main .details .extras li .label {
  color: #049fb4;
  font-size: 0.8125rem;
}
.main .details .extras li .value {
  font-size: 0.8125rem;
  color: #aea49f;
}
.main .details a,
.main .details button {
  margin-top: 10px;
  width: 100%;
}
.main .movie-list {
  flex: 4;
  width: calc(100% - 20px);
  padding-right: 80px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.main .movie-list .header .ordering select {
  padding: 10px;
  float: left;
  background-color: transparent;
  border: 1px solid #aea49f;
  border-radius: 5px;
  font-size: 0.75rem;
  outline: none;
}
.main .movie-list .header .ordering select:focus {
  border-color: #049fb4;
}
.main .movie-list .header .ordering select option {
  background-color: #262837;
}
.main .movie-list .items {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .movie-list .items li {
  width: 23%;
  height: 475px;
  margin-bottom: 20px;
}
.main .movie-list .items li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.main .movie-list .items li a:hover .title {
  color: #049fb4;
}
.main .movie-list .items li a .image {
  height: 400px;
  width: 100%;
  background-color: #262837;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../images/item-img.jpg");
  box-shadow: -5px 5px 20px rgb(41, 43, 60), 5px -5px 20px rgb(203, 130, 89);
}
.main .movie-list .items li a .image:hover .overlay {
  opacity: 1;
}
.main .movie-list .items li a .image .overlay {
  -webkit-backdrop-filter: blur(20px) brightness(0.5) grayscale(30%);
          backdrop-filter: blur(20px) brightness(0.5) grayscale(30%);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  opacity: 0;
}
.main .movie-list .items li a .image .overlay .story {
  height: 300px;
  padding: 20px;
  font-size: 0.8125rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .movie-list .items li a .title {
  margin-top: 10px;
  text-align: left;
}
.main .movie-list .items li a .rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.main .movie-list .items li a .rating i {
  color: #dd8c00;
  margin-right: 5px;
}
.main .movie-list .items li a .rating .rate {
  display: flex;
  flex-direction: row-reverse;
  color: #aea49f;
  align-items: baseline;
}
.main .movie-list .items li a .rating .rate span {
  margin: 0 5px;
  color: #aea49f;
  font-size: 0.75rem;
}
.main .movie-list .items li a .rating .rate span:first-child {
  color: #dd8c00;
  font-size: 0.9375rem;
}

@media screen and (max-width: 1000px) {
  .main .movie-list {
    padding-right: 40px;
    flex: 3;
  }
  .main .movie-list .items li {
    width: 30%;
  }
}
@media screen and (max-width: 750px) {
  .main .movie-list {
    flex: 2;
  }
  .main .movie-list .items li {
    width: 47%;
  }
}
@media screen and (max-width: 656px) {
  .main {
    flex-direction: column;
    padding: 20px 0px;
  }
  .main .details {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  .main .details .image {
    height: 350px;
  }
  .main .movie-list {
    width: 100%;
    padding-right: 0;
    margin-top: 30px;
    padding: 0 20px;
  }
  .main .movie-list .items li {
    width: 100%;
    height: 485px;
  }
  .main .movie-list .items li a .image {
    height: 400px;
  }
  .main .movie-list .items li a .image .overlay .story {
    height: 400px;
  }
}/*# sourceMappingURL=person.css.map */